<form id="addInstance" action="">
<div class="form-group row">
<div class="col">
<label class="form-control-label">First Name<span class="text-danger ml-2">*</span></label>
<input id="first_name" type="text" value="" class="form-control" required>
</div>
    <div class="col">
<label class="form-control-label">Last Name<span class="text-danger ml-2">*</span></label>
<input id="last_name" type="text" value="" class="form-control" required>
</div>
<div class="col">
<label class="form-control-label">Address<span class="text-danger ml-2">*</span></label>
<input id="address" type="text" value="" class="form-control" required>
</div>
    </div>

    <div class="form-group row">
<div class="col">
<label class="form-control-label">Email<span class="text-danger ml-2">*</span></label>
<input id="email" type="email" value="" class="form-control" data-parsley-check-existent="email" required>
</div>
<div class="col">
<label class="form-control-label">Phone<span class="text-danger ml-2">*</span></label>
<input id="phone" type="number" value="" class="form-control" required>
</div>

        <div class="col">
<label class="form-control-label">Warehouse<span class="text-danger ml-2">*</span></label>
            <select id="warehouse" class="custom-select">
                {% for warehouse in warehouses %}
    <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
                {% endfor %}
</select>
</div>
    </div>
     <div class="form-group row">

        <div class="col">
<label class="form-control-label">Staff ID<span class="text-danger ml-2">*</span></label>
<input id="staff_id" min="1" type="number" value="{{ last_staff.staff_id + 1 }}" data-parsley-check-existent="staff_id" class="form-control" required>
</div>

        <div class="col">
<label class="form-control-label">Salary<span class="text-danger ml-2">*</span></label>
<input id="salary" type="number" value="{{ last_staff.salary }}" class="form-control" required>
</div>

         <div class="col">
<label class="form-control-label">Staff Right<span class="text-danger ml-2">*</span></label>
<select id="rights" class="custom-select">
    <option value="2">Staff</option>
    <option value="3">Admin</option>
    <option value="4">Super Admin</option>
</select>
</div>
    </div>

<div class="form-group">
<label class="form-control-label">Notes</label>
    <textarea id="notes" class="form-control" rows="4"></textarea>
</div>

<div class="modal-footer">
<button type="button" class="btn btn-shadow" data-dismiss="modal">Close</button>
<button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
<script src="{{ url_for('static', filename='vendor/parsley/parsley.js') }}"></script>
<script>
    jQuery(function () {
    let addInstance = jQuery('#addInstance');
    addInstance.parsley();
    Parsley.addValidator('checkExistent', {
                validateString: function(value, field) {
                    let xhr = jQuery.post('{{ url_for('people.staff') }}check/' + field + '/' + value);
                    return xhr.then(function (json) {
                        if (!json.status) {
                            return jQuery.Deferred().reject(json.message)
                        }
                    })
                },
                messages: {en: 'Failed to check staff id.'}
            });

     addInstance.submit(function (e) {
         addInstance.parsley().validate();
         jQuery('#modal-form').modal('toggle');
         let loader = jQuery('.loading');
         loader.show();
        let data = {
            "first_name": $('#first_name').val(),
            "last_name": $('#last_name').val(),
            "address": $('#address').val(),
            "phone": $('#phone').val(),
            "email": $('#email').val(),
            "salary": $('#salary').val(),
            "staff_id": $('#staff_id').val(),
            "rights": $('#rights').val(),
            "warehouse": $('#warehouse').val(),
            "notes": $('#notes').val()
        };
        $.ajax({
            url: "{{ url_for('people.staff_add') }}",
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (data) {
                jQuery(".modal-body.text-center > p").text(data.message);
                if (data.status) {
                    jQuery(".section-title.mt-5.mb-2 > h2.text-gradient-01").text('Success!');
                    loader.hide();
                    jQuery('#delay-modal').modal('show');
                } else {
                    jQuery(".section-title.mt-5.mb-2 > h2.text-gradient-01").text('Error');
                    jQuery('#delay-modal').modal('show');
                }
            },
            error: function(){
                jQuery(".section-title.mt-5.mb-2 > h2.text-gradient-01").text('Error');
                jQuery(".modal-body.text-center > p").text(data.message);
            }
        }).done(function () {
            staff_table.ajax.reload();
        });
        e.preventDefault();
    });
     })
</script>
