{% extends 'dashboard.html' %}
{% block dashboard_breadcrumbs %}
<div class="page-breadcrumb">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="{{ url_for('main.purchase') }}" class="breadcrumb-link">Purchase</a></li>
<li class="breadcrumb-item active" aria-current="page">Add Purchase</li>
</ol>
</nav>
</div>
{% endblock dashboard_breadcrumbs %}
{% block dashboard_contents %}
<div class="card">
<div class="card-header">Add purchase</div>
<div class="card-body">
<form id="form">
<div class="form-row">
<div class="form-group col-md-3">
<label for="warehouse">Warehouse</label>
<select id="warehouse" class="form-control" required>
<option value="">Select</option>
{% for warehouse in warehouses %}
    <option value="{{ warehouse.id }}">{{ warehouse.name }}</option>
{% endfor %}
</select>
</div>
<div id="test" class=""></div>
<div class="form-group col-md-2">
<label for="name">Name</label>
<input id="name" class="form-control" required>
</div>

<div class="form-group col-md-2">
<label for="price">Price</label>
<input id="price" type="number" class="form-control" required>
</div>

<div class="form-group col-md-2">
<label for="color">Color</label>
<input id="color" class="form-control">
</div>

<div class="form-group col-md-2">
<label for="quantity">Quantity</label>
<input type="number" id="quantity" class="form-control" required>
</div>
<div class="form-group col-md-1">
<label for="size">Size</label>
<input id="size" class="form-control">
</div>

</div>
<button type="submit" class="btn btn-space btn-primary">Add</button>
</form>
                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="center">#</th>
                                                    <th class="center">Warehouse</th>
                                                    <th class="center">Item</th>
                                                    <th class="center">Description</th>
                                                    <th class="right">Unit Cost</th>
                                                    <th class="center">Qty</th>
                                                    <th class="right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody><tr></tr></tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                        </div>
                                        <div class="col-lg-4 col-sm-5 ml-auto">
                                            <table class="table table-clear">
                                                <tbody>
                                                    <tr>
                                                        <td class="center">
                                                            <strong class="text-dark">Total</strong>
                                                        </td>
                                                        <td class="left">
                                                            <strong class="text-dark" id="total">0</strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <div class="text-right">
                                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-3">
                                                <button id="create-invoice" type="button" class="btn btn-space btn-primary" disabled>Create</button>
                                            </div>
                                        </div>
                                <div class="card-footer bg-white">
                                    <p class="mb-0">Note: </p>
                                </div>
                            </div>
{% endblock dashboard_contents %}
{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='vendor/parsley/parsley.js') }}"></script>
    <script>
if (!localStorage.getItem('supplier_id') || !document.referrer) {
    alert('Please do not visit this page directly. Please select supplier first.');
    localStorage.setItem('trigger', 'supplier_selection');
    location.replace('/purchase/')
}
    jQuery(function () {
        let form = jQuery('#form');
        form.parsley();
        var last_row_num = 1;
        form.submit(function (e) {
            e.preventDefault();
            var total = parseInt(jQuery('#total').text());
            let new_tr = '<tr><td class="center"></td><td class="left strong"></td><td class="left"></td><td class="right"></td> <td class="center"></td><td class="right"><div class="quantity"><input type="number" step="1" value="1"></div></td><td class="right"></td></tr>';
            $('table.table-striped tr:last').after(new_tr);
            let supplier = $('#warehouse option:selected').text();
            let name = $('#name').val();
            let size = $('#size').val();
            let color = $('#color').val();
            let unit_cost = parseInt($('#price').val());
            let quantity = parseInt($('#quantity').val());
            let item_total = quantity * unit_cost;
            $('table.table-striped tr:last').find('td:nth-child(1)').text(last_row_num);
            $('table.table-striped tr:last').find('td:nth-child(2)').text(supplier);
            $('table.table-striped tr:last').find('td:nth-child(3)').text(name);
            $('table.table-striped tr:last').find('td:nth-child(4)').text('Size: '+size+', Color: '+color);
            $('table.table-striped tr:last').find('td:nth-child(5)').text(unit_cost);
            $('table.table-striped tr:last').find('td:nth-child(6) input').val(quantity);
            $('table.table-striped tr:last').find('td:last').text(item_total);
            $('#total').text(item_total + total);
            jQuery('#form').trigger('reset');
            create_button.attr('disabled', false);
            last_row_num++;
            jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
                jQuery('.quantity').each(function(e) {
                    var spinner = jQuery(this),
                    input = spinner.find('input[type="number"]'),
                    btnUp = spinner.find('.quantity-up'),
                    btnDown = spinner.find('.quantity-down'),
                    min = input.attr('min'),
                    max = input.attr('max');
                btnUp.click(function () {
                    var oldValue = parseFloat(input.val());
                    if (oldValue >= max) {
                        var newVal = oldValue;
                    } else {
                        var newVal = oldValue + 1;
                    }
                    spinner.find("input").val(newVal);
                    spinner.find("input").trigger("change");
                    let unit_cost = spinner.closest('tr').find('td:nth-child(5)').text();
                    spinner.closest('tr').find('td:last').text(newVal * unit_cost);
                    console.log(total);
                    console.log(unit_cost);
                    console.log(total);
                    jQuery('#total').text(total + newVal * unit_cost);
                    e.preventDefault();
                });

                btnDown.click(function () {
                    var oldValue = parseFloat(input.val());
                    if (oldValue <= min) {
                        var newVal = oldValue;
                    } else {
                        var newVal = oldValue - 1;
                    }
                    if (newVal === 0) {
                        spinner.closest('tr').remove()
                    }
                    spinner.find("input").val(newVal);
                    spinner.find("input").trigger("change");
                    let unit_cost = spinner.closest('tr').find('td:nth-child(5)').text();
                    spinner.closest('tr').find('td:last').text(newVal * unit_cost);
                    jQuery('#total').text(total + newVal * unit_cost);
                    e.preventDefault();
                });
            });
                });

        let create_button = jQuery('#create-invoice');
        create_button.click(function (e) {
            jQuery('table.table-striped tbody').find('tr:first').remove();
            let data = [];
                jQuery('table.table-striped > tbody > tr').each(function (i) {
                    let warehouse = $(this).find('td:nth-child(2)').text();
                    let name = $(this).find('td:nth-child(3)').text();
                    let description = $(this).find('td:nth-child(4)').text();
                    let price = $(this).find('td:nth-child(5)').text();
                    let quantity = $(this).find('td:nth-child(6) input').val();
                    data[i] =
                        {
                            'warehouse': warehouse,
                            'name': name,
                            'description': description,
                            'price': price,
                            'quantity': quantity
                        };
                });
                if (Object.keys(data).length !== 0) {
                    create_button.attr('disabled', true);
                    create_button.text('Creating...');
                    jQuery('.loading').show(300);
                    $.ajax({
                        uri: '/purchase/add/',
                        type: 'POST',
                        contentType: 'application/json',
                        headers: ({'SUPPLIER': localStorage.getItem('supplier_id')}),
                        dataType: 'json',
                        data: JSON.stringify(data),
                        success: function (data) {
                            $("#delay-modal .modal-body.text-center > p").text(data.message);
                            if (data.status) {
                                $("#delay-modal .section-title.mt-5.mb-2 > h2.text-gradient-01").text('Purchases added');
                            $('#delay-modal').modal('show');
                            form[0].reset();
                            form.parsley().destroy();
                            jQuery('table.table-striped > tbody > tr').empty();
                                jQuery('#total').text('');
                                localStorage.setItem('supplier_id', '')
                            } else {
                                $("#delay-modal .section-title.mt-5.mb-2 > h2.text-gradient-01").text('Purchases failed');
                            $("#delay-modal .modal-body.text-center > p").text(data.message);
                            $('#delay-modal').modal('show');

                            }
                            },
                        complete: function () {
                            create_button.attr('disabled', false);
                            create_button.text('Create');
                            jQuery('.loading').hide();

                        }
                    });
                }
            })
    });

    </script>
{% endblock %}

